
*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  background-color: #cfcfcf;
}
.cookie-regular {
  font-family: "Cookie", cursive;
  font-size: large;
  font-style: normal;
}
.sofia-regular {
  font-family: "Sofia", cursive;
  font-weight: 100;
  font-style: normal;
}

.montserrat-mont {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
}

header{
  width: 100%;
  height: 100px;
  font-family: 'Poppins';
}
.flexbox-container {
  display: flex;
  align-items: flex-start;
}

.flexbox-item {

}
.flexbox-item1 {
  align-self: center;

}
.flexbox-item2 {
  flex-grow: 1;
  padding: 0;
  align-self: center;

}
.flexbox-item3 {
  align-self: center;

}
@keyframes fadein {
  0% {
      opacity: 0;
      transform: translateY(-10px);
  }
  100% {
      opacity: 1;
      transform: translateY(0px);
  }
}
body {
  animation: fadein 1s;
}

.animation {
  animation: fadein 0.5s;
}
.animation-slow {
  animation: fadein 1s;
}
.animation-slower {
  animation: fadein 1.5s;
}
/*Main Content Stylesheet*/
.main-body {
  display: flex;
  margin: 10px 20px;
  flex-wrap: wrap;
  align-content: start;
  justify-content: left;
  gap: 25px;

}

.main-body-item1 {
  width: 100%;
  flex-grow: 1;

}
.main-body-item2 {

  width: 50%;
  text-align: center;
}
.main-body-item2 img {
  border: 5px solid grey;
  padding: 5px 5px;
}
.main-body-item3 {

}
ol {
  padding-inline: 20px;
}
dd{
  padding: 20px;
}
